{% extends 'base.html.twig' %}

{% block body %}
<h1>{{article.title}}</h1>

<p>
  {{article.content}}
</p>

<div id='comments'>
</div>
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('bundles/app/js/comments.js') }}"></script>
{% endblock %}
