{% extends 'base.html.twig' %}

{% block body %}
    <div style="border:1px solid blue">{{ render_esi(url('esi', { 'cache': 5 })) }}</div>
    <div style="border:1px solid red">{{ render_esi(url('esi', { 'cache': 10 })) }}</div>
{% endblock %}
